@import url('https://fonts.googleapis.com/css?family=Montserrat+Alternates:500&display=swap');

.fontMA {
    font-family: 'Montserrat Alternates', sans-serif;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    padding: 60px 30px 5px;

}

.container h3 {
    background: -webkit-linear-gradient(-30deg, #E268A1 0%, #7C5D86 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.container p {
    color: Thistle;
    font-size: 0.7rem;
}

.container a {
    color: Plum;
}

.container footer {
    margin-top: 50px;
    align-self: center;
    color: MediumOrchid;
    font-size: 0.5rem;
}

img.cover {
    object-fit: contain;
    width: 100%;
    height: auto;
}

img.arrow {
    position: fixed;
    left: 25px;
    animation: wiggle 1.5s infinite;
}

@keyframes wiggle {
    0% { transform: rotate(-5deg); }
   50% { transform: rotate(5deg); }
  100% { transform: rotate(-5deg); }
}